In [1]:
import sklearn

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
dataset=pd.read_csv("insurance_pre.csv")

In [5]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [6]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [7]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [8]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [9]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0     False        True
1      18  33.770         1      True       False
2      28  33.000         3      True       False
3      33  22.705         0      True       False
4      32  28.880         0      True       False
...   ...     ...       ...       ...         ...
1333   50  30.970         3      True       False
1334   18  31.920         0     False       False
1335   18  36.850         0     False       False
1336   21  25.800         0     False       False
1337   61  29.070         0     False        True

[1338 rows x 5 columns]

In [10]:
dependent=dataset[["charges"]]

In [11]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [16]:
from sklearn.ensemble import RandomForestRegressor

In [20]:
from sklearn.model_selection import GridSearchCV
param_grid={"criterion":["mae","mse","absolute_error",'poisson','squared_error','friedman_mse'],"max_features":["auto","sqrt","log2"],"n_estimators":[10,100]}
grid=GridSearchCV(RandomForestRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(x_train,y_train)

Fitting 5 folds for each of 36 candidates, totalling 180 fits

C:\Users\saran\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
100 fits failed out of a total of 180.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
14 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'friedman_mse', 'absolute_error', 'squared_error', 'poisson'}. Got 'mae' instead.

--------------------------------------------------------------------------------
16 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'poisson', 'squared_error', 'friedman_mse', 'absolute_error'}. Got 'mae' instead.

--------------------------------------------------------------------------------
14 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'poisson', 'squared_error', 'friedman_mse', 'absolute_error'}. Got 'mse' instead.

--------------------------------------------------------------------------------
16 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'friedman_mse', 'absolute_error', 'squared_error', 'poisson'}. Got 'mse' instead.

--------------------------------------------------------------------------------
28 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
12 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\saran\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\saran\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan 0.79488896 0.80956525 0.78821953 0.80938904
        nan        nan 0.78759878 0.81189825 0.78925721 0.80930731
        nan        nan 0.78335358 0.81222721 0.78891788 0.81157166
        nan        nan 0.79713243 0.81434843 0.79562773 0.81205826]
  warnings.warn(
C:\Users\saran\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mae', 'mse', 'absolute_error',
                                       'poisson', 'squared_error',
                                       'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [25]:
re=grid.cv_results_
grid_predictions=grid.predict(x_test)

In [27]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)
print("The R score value for best parameter:{}".format(grid.best_params_),r_score)

The R score value for best parameter:{'criterion': 'friedman_mse', 'max_features': 'sqrt', 'n_estimators': 100} 0.8718383544033184

In [28]:
table=pd.DataFrame.from_dict(re)

In [29]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.003480,0.000507,0.000000,0.000000,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
1,0.003737,0.000827,0.000000,0.000000,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
2,0.004731,0.002640,0.000000,0.000000,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
3,0.004735,0.005557,0.000000,0.000000,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
4,0.003125,0.006251,0.000000,0.000000,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
5,0.006250,0.007655,0.000000,0.000000,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
6,0.005954,0.005184,0.000000,0.000000,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
7,0.008717,0.007974,0.000000,0.000000,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
8,0.003125,0.006249,0.000000,0.000000,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
9,0.003125,0.006250,0.000000,0.000000,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
10,0.003125,0.006250,0.000000,0.000000,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
11,0.000000,0.000000,0.000000,0.000000,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
12,0.003125,0.006250,0.000000,0.000000,absolute_error,auto,10,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
13,0.003125,0.006250,0.000000,0.000000,absolute_error,auto,100,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
14,0.169287,0.012491,0.021876,0.012501,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.842992,0.770685,0.780755,0.820442,0.759571,0.794889,0.031622,11
15,1.713113,0.029396,0.034377,0.006250,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.860935,0.795516,0.808185,0.818511,0.764679,0.809565,0.031410,6
16,0.184383,0.015310,0.012501,0.006251,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.829953,0.766438,0.796874,0.788081,0.759752,0.788220,0.024906,14
17,1.720772,0.109240,0.037502,0.007655,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.855631,0.792629,0.804704,0.817150,0.776831,0.809389,0.026689,7
18,0.000000,0.000000,0.000000,0.000000,poisson,auto,10,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
19,0.006250,0.007655,0.000000,0.000000,poisson,auto,100,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
20,0.100005,0.021195,0.012501,0.006251,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.848070,0.732982,0.782111,0.816577,0.758254,0.787599,0.040916,15
21,0.762538,0.011694,0.034378,0.006250,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.859714,0.797872,0.806939,0.825190,0.769776,0.811898,0.029862,4
22,0.087504,0.007655,0.009375,0.007655,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.837195,0.763909,0.775129,0.802756,0.767297,0.789257,0.027585,12
23,0.762538,0.020730,0.040628,0.007656,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.861980,0.789069,0.802427,0.829734,0.763327,0.809307,0.033949,8
24,0.003125,0.006250,0.000000,0.000000,squared_error,auto,10,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
25,0.000000,0.000000,0.000000,0.000000,squared_error,auto,100,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
26,0.086119,0.006997,0.008252,0.007043,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.834509,0.776149,0.785279,0.762987,0.757843,0.783354,0.027343,16
27,0.707421,0.012788,0.034377,0.006250,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.861900,0.795975,0.811263,0.825127,0.766870,0.812227,0.031484,2
28,0.084379,0.007655,0.009376,0.007655,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.830025,0.786036,0.803380,0.779752,0.745397,0.788918,0.027876,13
29,0.795748,0.042532,0.041617,0.007587,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.869365,0.788929,0.803382,0.828262,0.767920,0.811572,0.034940,5
30,0.002803,0.000748,0.000000,0.000000,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
31,0.004639,0.001767,0.000000,0.000000,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
32,0.081079,0.008804,0.014502,0.002248,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.839959,0.759383,0.804292,0.842058,0.739971,0.797132,0.041464,9
33,1.042842,0.259217,0.072899,0.032582,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.862373,0.793447,0.810601,0.832763,0.772558,0.814348,0.031122,1
34,0.184471,0.062025,0.023264,0.020304,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.849443,0.782589,0.790753,0.821098,0.734256,0.795628,0.038743,10
35,0.855709,0.054545,0.046085,0.011630,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.859446,0.790321,0.807319,0.823409,0.779796,0.812058,0.027965,3

In [30]:
age_input=float(input("age:"))
bmi_input=float(input("BMI:"))
children_input=int(input("children:"))
sex_male_input=int(input("sex male 0 or 1:"))
smoker_yes_input=int(input("smoker yes 0 or 1:"))

age:32
BMI:67.4
children:2
sex male 0 or 1:0
smoker yes 0 or 1:1

In [31]:
Future_predicion=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future Prediction: {}".format(Future_predicion))

Future Prediction: [46470.8923862]

C:\Users\saran\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(